nav{
  display: flex;
  gap: 34px;
  background-color: chartreuse;
  /* color: white; */
}
li{
  list-style-type: none;
  padding: 23px;
}
a li {
  color: red;
}
*{
  margin: 0;
  padding: 0;
}
.blue{
  background-color: darksalmon;
}